<section class="section">
  <div class="container">
    <app-breadcrumb></app-breadcrumb>
  
    <section class="section">
      <div class="columns">
        <div class="column empty-column is-3"></div>
    
        <div class="column is-6">
          <button class="button is-primary new-discussion" routerLink="/new-discussion">New Discussion</button>
        </div>
    
        <div class="column empty-column is-3"></div>
      </div>

      <div *ngFor="let discussion of discussions">
        <div class="notification">
          <app-discussion
            [message]="discussion.message"
            [date]="discussion.timestamp"
            [title]="discussion.title"
            [user]="discussion.user"
            [hash]="discussion.hash"
            [numberOfComments]="discussion.numberOfComments"
          ></app-discussion>
        </div>
      </div>

      <!-- <div class="notification">
        <app-category></app-category>
      </div>
      <div class="notification">
        <app-category></app-category>
      </div>
      <div class="notification">
        <app-category></app-category>
      </div> -->
    </section>
  </div>
</section>