<section class="section">
  <div class="container">
    <app-breadcrumb></app-breadcrumb>

    <section class="section">
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Select</option>
              <option>Category 1</option>
              <option>Category 2</option>
              <option>Category 3</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input">
        </div>
      </div>

      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button routerLink="/" class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button routerLink="/" class="button is-text">Cancel</button>
        </div>
      </div>
    </section>
  </div>
</section>
  