<!-- Main container -->
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <div>
        <p><strong><a href="#">Category</a></strong></p>
        <p><small>Some text about the category</small></p>
      </div>
    </div>
  </div>

  <!-- Right side -->
  <div class="level-right">
    <div>
      <p class="level-item">
        <strong>59</strong>&nbsp;posts
      </p>
      <p class="level-item">
        <strong>239</strong>&nbsp;comments
      </p>
    </div>
  </div>
</nav>
