<section class="section">
  <div class="container">
    <app-breadcrumb></app-breadcrumb>

    <section class="section">
      <div class="columns">
        <div class="column">
          <button *ngIf="canDeleteDiscussion" routerLink="/" class="button is-danger">Delete this post</button>
        </div>
      </div>

      <article class="media">
        <div class="media-content">
          <div class="content">
            <h3>{{title}}</h3>
            <p>
              <strong>{{user}}</strong>
              <br>
              {{message}}
              <br>
              <small>{{timestamp}} ago</small>
            </p>
          </div>

          <div *ngFor="let cmt of comments">
            <article class="media is-reply">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{cmt.user}}</strong>
                    <br>
                      {{cmt.comment}}
                    <br>
                    <small>{{cmt.timestamp}} ago</small>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </article>
      <article class="media">
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea class="textarea" [(ngModel)]="comment" placeholder="Add a comment..."></textarea>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button" (click)="addComment()">Post comment</button>
            </p>
          </div>
        </div>
      </article>
    </section>
  </div>
</section>
